<mat-toolbar style="width: 100%">
    <button mat-button
    routerLink="/home/nuevoArt">
    Nuevo Articulo
    </button>
  <button mat-button
    color='warn'
    routerLink="/home/articulos">
    Articulos disponibles
  </button>
  <button mat-button
  routerLink="/home/caducar">
    Caducar Articulo
  </button>
  <button mat-button
  routerLink="/home/nuevaPartida">
    Ingregar Partida
  </button>
  <button mat-button
  routerLink="/home/listarPartida">
    Listar Partidas
  </button>
</mat-toolbar>

<div style="padding: 1em">

<h2>ARTICULOS List</h2>





<table mat-table [dataSource]="articulos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="id_tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="id_fabricante">
    <th mat-header-cell *matHeaderCellDef> Fabricante </th>
    <td mat-cell *matCellDef="let element"> {{element.fabricante.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="componentes">
    <th mat-header-cell *matHeaderCellDef> Componentes </th>
    <td mat-cell *matCellDef="let element"> {{element.componentes}} </td>
  </ng-container>

  <ng-container matColumnDef="contenido">
    <th mat-header-cell *matHeaderCellDef> Contenido </th>
    <td mat-cell *matCellDef="let element"> {{element.contenido}} </td>
  </ng-container>

  <ng-container matColumnDef="gramaje">
    <th mat-header-cell *matHeaderCellDef> Gramaje </th>
    <td mat-cell *matCellDef="let element"> {{element.gramaje}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</div>