<mat-toolbar style="width: 100%">
    <button mat-button
    routerLink="/home/nuevoArt">
    Nuevo Articulo
    </button>
  <button mat-button
    routerLink="/home/articulos">
    Articulos disponibles
  </button>
  <button mat-button
  routerLink="/home/caducar">
    Caducar Articulo
  </button>
  <button mat-button
  color='warn'
  routerLink="/home/caducado">
    Caducar Articulo
  </button>
  <button mat-button
  routerLink="/home/nuevaPartida">
    Ingregar Partida
  </button>
  <button mat-button
  routerLink="/home/listarPartida">
    Listar Partidas
  </button>
</mat-toolbar>