<mat-toolbar style="width: 100%">
  <button mat-button
  routerLink="/home/pacientes">
  Nuevo Paciente
  </button>
<button mat-button
color='warn'
routerLink="/home/datospaciente">
  Paciente
</button>
</mat-toolbar>

<mat-card>
  <mat-card-title>Buscar paciente:</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Rut del paciente" [(ngModel)]="rut" required>
    </mat-form-field>
    <button style="margin-left: 25px" mat-raised-button (click)="getPaciente()" color="warn">Buscar</button>
    <button style="margin-left: 550px" *ngIf="mostrarData" mat-raised-button><mat-icon>edit</mat-icon>Editar Paciente</button>
  </mat-card-content>

  <mat-card-content *ngIf="mostrarData">
    <mat-card-title>Datos del Paciente</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nombre" [disabled]='true' [(ngModel)]="dataPaciente.nombre" required><!--el value="" trae el valor de este campo-->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Apellido Paterno" [disabled]='true' [(ngModel)]="dataPaciente.apellidoPaterno" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Apellido Materno" [disabled]='true' [(ngModel)]="dataPaciente.apellidoMaterno" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Rut" [disabled]='true' [(ngModel)]="dataPaciente.rut" required>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Numero de telefono" [disabled]='true' [(ngModel)]="dataPaciente.numeroCelular" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        
      <mat-card-subtitle>Datos del Tutor</mat-card-subtitle>
      <mat-form-field>
        <input matInput placeholder="Rut Tutor" [disabled]='true' [(ngModel)]="dataPaciente.rutTutor">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nombre Tutor" [disabled]='true' [(ngModel)]="dataPaciente.nombreTutor">
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Email / Tutor" [disabled]='true'  [(ngModel)]="dataPaciente.emailTutor">
    </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>Datos adicionales</mat-card-subtitle>
      <mat-form-field>
        <mat-label>Region</mat-label>
        <mat-select [(ngModel)]="dataPaciente.region.id" [disabled]='true'>
          <mat-option *ngFor="let data of regiones" [value]="data.id">
            {{data.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comuna</mat-label>
        <mat-select [(ngModel)]="dataPaciente.comuna.id" [disabled]='true'>
          <mat-option *ngFor="let data of comunas" [value]="data.id">
            {{data.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nacionalidad</mat-label>
        <mat-select [(ngModel)]="dataPaciente.nacionalidad.id" [disabled]='true'>
          <mat-option *ngFor="let data of nacionalidades" [value]="data.id">
            {{data.pais}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Carnet</mat-label>
        <mat-select [(ngModel)]="dataPaciente.carnet.id" [disabled]='true'>
          <mat-option *ngFor="let dato of carnet" [value]="dato.id">
            {{dato.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Prevision</mat-label>
        <mat-select [(ngModel)]="dataPaciente.prevision.id" [disabled]='true'>
          <mat-option *ngFor="let data of previsiones" [value]="data.id">
            {{data.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select [(ngModel)]="dataPaciente.sexo.id" [disabled]='true'>
          <mat-option *ngFor="let data of sexos" [value]="data.id">
            {{data.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [disabled]='true' #picker></mat-datepicker>
      </mat-form-field>
  
    </mat-card-content>
    <hr>
</mat-card-content>




</mat-card>
